<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body"
       *ngIf="product">
    <div class="wizard">
      <a [routerLink]="['info']" routerLinkActive="active">
        Basic info <span [ngClass]="{'fa fa-exclamation': !isValid('info')}"></span></a>

      <a [routerLink]="['tags']" routerLinkActive="active">
        Tags <span [ngClass]="{'fa fa-exclamation': !isValid('tags')}"></span></a>
    </div>

    <router-outlet></router-outlet>

    <div class="form-group row mb-2">
      <div class="col-md-4">
        <button class="btn btn-primary mr-3"
                style="width:80px"
                type="button"
                [disabled]="!isValid()"
                (click)="saveProduct()">
          Save
        </button>
        <button class="btn btn-outline-secondary mr-3"
                style="width:80px"
                type="button"
                title="Cancel your edits"
                (click)="cancelEdit()">
          Cancel
        </button>
        <button class="btn btn-outline-warning"
                style="width:80px"
                type="button"
                title="Delete this product"
                (click)="deleteProduct()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger"
     *ngIf="errorMessage">{{errorMessage}}
</div>
