<span class="fa fa-spinner spinner" *ngIf="loading"></span>
<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{pageTitle}}</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/welcome']" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/products']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
      >Product List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/products', '0', 'edit']" routerLinkActive="active">Add Product</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item"
        *ngIf="isLoggedIn">
      <a class="nav-link">Welcome {{ userName }}</a>
    </li>
    <li class="nav-item">
      <a
        *ngIf="!showingMessages()"
        (click)="showMessages()"
        class="nav-link"
      >Show Messages</a>
      <a
        *ngIf="showingMessages()"
        (click)="hideMessages()"
        class="nav-link"
      >Hide Messages</a>
    </li>
    <li class="nav-item"
        *ngIf="!isLoggedIn">
      <a class="nav-link" [routerLink]="['/login']">Log In</a>
    </li>
    <li class="nav-item"
        *ngIf="isLoggedIn">
      <a class="nav-link"
         (click)="logOut()">Log Out</a>
    </li>
  </ul>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <router-outlet #main></router-outlet>
    </div>
    <div class="col-md-2">
      <router-outlet #messages name="messages"></router-outlet>
    </div>
  </div>
</div>
